<mat-toolbar> 
  <div class="menu-left">
    <div>
        logo
    </div>
    <div>
      <button mat-button routerLink="/past" routerLinkActive="active">Past</button>
    </div>
    <div>
      <button mat-button routerLink="/present" routerLinkActive="active"  >Present</button>
      <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item>Your Habits</button>
        <button mat-menu-item>Weekly Pattern</button>
      </mat-menu> -->
      
    </div>
    <div>
        <button mat-button routerLink="/future" routerLinkActive="active" >Future</button>
    </div>
  </div>
    <div class="setting">
        <div>
            <button mat-button>Setting</button>
        </div>
    </div> 
</mat-toolbar>