
<div class="main-content" *ngIf="!isLoading">
  <div style="display: flex; justify-content: space-between; position: absolute; bottom:90px">
    <button (click)="changeView(1)">One Week</button>
    <button (click)="changeView(2)">Two Weeks</button>
    <button (click)="changeView(4)">Four Weeks</button>
    <button (click)="changeView(8)">Eight Weeks</button>
    <button (click)="changeView(12)">Twelve Weeks</button>
    <button (click)="changeView(26)">Half Year</button>
    <button (click)="changeView(52)">One Year</button>
  </div>
  <div class="records-grid">
    <app-week-component  
    *ngFor="let week of toShow" 
    [week]="week" 
    [toShow]="toShow"
    ></app-week-component>
   
  </div>
  <!-- <app-admin-panel></app-admin-panel> -->
</div>