
<div class="main-content primary" *ngIf="!isHistoryOpen">
    <app-admin-panel></app-admin-panel>
  <div *ngIf="!isHistoryOpen">
    <h1 class="main-title animated 1 fadeInDown">Time to check few things</h1>
    <h1 class="main-subtitle animated 1 fadeInDown">how many weeks do you want to look back...</h1>
  </div>
    <nav class="menu" *ngIf="!isHistoryOpen">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
          <span class="lines line-1"></span>
          <span class="lines line-2"></span>
          <span class="lines line-3"></span>
        </label>
          <a href="#" class="menu-item blue"  (click)="changeView(1)">1</a>
          <a href="#" class="menu-item green" (click)="changeView(2)">2</a>
          <a href="#" class="menu-item red" (click)="changeView(4)">4</a>
          <a href="#" class="menu-item purple" (click)="changeView(8)">8</a>
          <a href="#" class="menu-item orange" (click)="changeView(12)">12</a>
          <a href="#" class="menu-item lightblue" (click)="changeView(26)">24</a>
     </nav>
  </div>

     <section class="record-section" *ngIf="isHistoryOpen" >
        <h1 class="main-title  animated 1 fadeInDown">Weeks from {{start}} to {{end}}</h1>
        <div class="record-pattern-grid">
          <div>
            <h2 class="pattern-subtitle animated 2 fadeInDown">Week Patterns</h2>
            <div class="records-grid">  
              <div *ngFor="let week of toShow">
                  <h2 class="chart-title animated 2 fadeInDown">week:&nbsp;{{week[0].week[0] | date: 'd/M/yy'}}&nbsp;-&nbsp;{{week[0].week[6] | date: 'd/M/yy'}}</h2>
                  <app-week-component  
                  [week]="week" 
                  [toShow]="toShow"
                  (insight)="getInsight($event)"
                  ></app-week-component>
              </div>
            </div>
          </div>
          <div>
              <h2 class="pattern-subtitle animated 2 fadeInDown">Week Composition</h2>
          <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [legend]="showLegend"
          [explodeSlices]="explodeSlices"
          [labels]="showLabels"
          [doughnut]="doughnut"
          [animations]="animations"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
        <div class="record-pattern-grid" style="margin-bottom:20px;">
          <div>
            <h2 class="pattern-subtitle animated 2 fadeInDown">Completion by week</h2>
            <div *ngFor="let item of report" style="display: flex;flex-direction: column;">
                <h2 class="chart-title animated 2 fadeInDown">week: {{item[0].week}}</h2>
                <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="item"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [yScaleMax]="7"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
              </div>
        </div>
      <div>
        <h2 class="pattern-subtitle animated 2 fadeInDown">Completion by period</h2>
        <ngx-charts-advanced-pie-chart 
        class="pie-chart"
        [view]="view"
        [scheme]="colorScheme"
        [results]="streak"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
      <div class="sumup">
          <h2 class="pattern-subtitle animated 2 fadeInDown">Summary</h2>
        <div class="sumup-streak">
          <div class="fake-habit" style="background-color: rgb(145, 42, 214);"></div>
        <h2 class="sumup-text">
          &nbsp; Best streak <strong>x7</strong>
        </h2>
      </div>
      <div class="sumup-streak">
          <div class="fake-habit" style="background-color: rgb(237, 30, 36);"></div>
        <h2 class="sumup-text">
          &nbsp; Most completed <strong>x8</strong>
        </h2>
      </div>
      <div class="sumup-streak">
          <div class="fake-habit" style="background-color: rgb(244, 237, 89);"></div>
        <h2 class="sumup-text">
          &nbsp; Less completed <strong>x8</strong>
        </h2>
      </div>
      </div>
      </div>
      </div>
  </section>
