<div style="height:200vh">
      <button (click)="openFuture()">Future</button>
      <button (click)="openPast()">Past</button>
      <button (click)="openPresent()">Present</button>
  <div class="future" *ngIf="isFutureOpen">
    <app-future [habits]="habits" 
                [monday]="monday | async" 
                [tuesday]="tuesday | async" 
                [wednesday]="wednesday | async" 
                [thursday]="thursday | async" 
                [friday]="friday | async" 
                [saturday]="saturday | async" 
                [sunday]="sunday | async">
    </app-future>
  </div>
  <div class="past"  *ngIf="isPastOpen">
    <app-past></app-past>
  </div>
  <div class="present" *ngIf="isPresentOpen">
    <app-present></app-present>
  </div>
</div>