<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-navbar></app-navbar> -->
<div class="main-container">
    <a class="home-link" (click)="goToMainMenu()"><img class="logo" src="../../../assets/Group 7.svg" alt=""></a>
    <section class="main-menu" *ngIf="isMenuOpen">
        <a class="main-menu-link" (click)="menuOpenPast()"><img class="main-menu-icon moveone" src="../../../assets/blobPast.svg"><h2 class="main-menu-text">Past</h2></a>
        <a class="main-menu-link" (click)="menuOpenPresent()"><img class="main-menu-icon movetwo" src="../../../assets/blobPresent.svg"><h2 class="main-menu-text">Present</h2></a>
        <a class="main-menu-link" (click)="menuOpenFuture()"><img class="main-menu-icon movethree" src="../../../assets/blobFuture.svg"><h2 class="main-menu-text">Future</h2></a>
    </section>
 <it-hab *ngIf="isPastOpen || isFutureOpen || isPresentOpen" [isPastOpen]="isPastOpen" [isFutureOpen]="isFutureOpen" [isPresentOpen]="isPresentOpen" ></it-hab>
 <article>
    <h3 class="quote">{{randomQuote}}</h3>
    <p class="cit">{{randomCit}}</p>
    {{quotesIndex}}
  </article>
</div>
