
<div class="component-contatiner-col">
  <div class="internal-container">
      <div class="habit-container">
        <app-habit  *ngFor="let habit of habits; let i = index" [habit]="habit" id="habit-{{habit.Color}}" class="delay{{i}}s" [ngClass]="{'animated 1 fadeIn': isLoading}" (click)="showHabit(habit)"></app-habit>
      </div> 
    </div>
</div>

<div class="component-contatiner-col" *ngIf="habitSelected">
  <div class="internal-container">
    <div class="habit-container">
        <div id="habit" [ngStyle]="{'background-color': habitSelected.Color}" class="animated 1 fadeIn"></div>
        <mat-form-field>
          <input matInput placeholder="Description" [(ngModel)]="habitSelected.Description" >
        </mat-form-field>      
        <mat-form-field>
          <mat-select placeholder="Frequency" [(ngModel)]="habitSelected.Frequency.values" multiple>
            <mat-option *ngFor="let frequency of frequencies" [value]="frequency.value" >{{frequency.label}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="action" style="display:flex">
    <div class="portfolio-experiment">
      <a (click)="newHabit()">
        <span class="text">confirm</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </div>
    <div class="portfolio-experiment">
      <a (click)="closeHabit()">
        <span class="text">back</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </div>
   </div>
  </div>
</div>






