.main-content-past{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.records-grid{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.records-grid > app-habit-records{
  display: flex;
  align-items: center;
  justify-content: center;
}