<div class="dashboard" *ngIf="!isLoading">
  <app-dashboard [habits]="habits"></app-dashboard>
</div>

<div class="main-content-past" *ngIf="!isLoading">
  <div style="display: flex; justify-content: space-between; position: absolute; bottom:90px">
    <button (click)="suca(1)">One Week</button>
    <button (click)="suca(2)">Two Weeks</button>
    <button (click)="suca(4)">Four Weeks</button>
    <button (click)="suca(8)">Eight Weeks</button>
    <button (click)="suca(12)">Twelve Weeks</button>
    <button (click)="suca(26)">Half Year</button>
    <button (click)="suca(52)">One Year</button>
  </div>
  <div class="records-grid">
    <app-week-component [fakedata]="week" [toShow]="toShow" *ngFor="let week of toShow"></app-week-component>
    <!-- <app-habit-records *ngFor="let week of toShow" [week2]="week"></app-habit-records> -->
  </div>
  <!-- <app-admin-panel></app-admin-panel> -->
</div>