<div class="component-contatiner-col" *ngIf="!habitSelected">
  <div class="internal-container">
  <h1>Your habits</h1>
      <div class="habit-container">
        <div *ngFor="let habit of habits" id="habit-{{habit.num}}" (click)="showHabit(habit)"></div>
      </div>
    </div>
</div>

<div class="component-contatiner-col" *ngIf="habitSelected">
  <div class="internal-container">
    <fa-icon class="close" (click)="closeHabit()" [icon]="faTimes"></fa-icon>
  <h1>Tell me about this.</h1>
    <div class="habit-container">
        <div id="habit-{{habitSelected.num}}"></div>
        <mat-form-field>
          <input matInput placeholder="Description">
        </mat-form-field>      
        <mat-form-field>
          <input matInput placeholder="Frequency">
        </mat-form-field>
    </div>
  </div>
</div>