<div class="sidebar-container">
  <div class="sidebar-title-container">
    <!-- <h1 class="main-subtitle animated 1 fadeInDown">your habit pattern</h1> -->
  </div>
  <app-habits-pattern 
          [monday]="monday"
          [tuesday]="tuesday"
          [wednesday]="wednesday"
          [thursday]="thursday"
          [friday]="friday"
          [saturday]="saturday"
          [sunday]="sunday">
   </app-habits-pattern>
  <div class="sidebar-title-container">
    <!-- <h1 class="main-subtitle animated 1 fadeInDown">your pattern composition</h1> -->
  </div>
   <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [legend]="showLegend"
          [explodeSlices]="explodeSlices"
          [labels]="showLabels"
          [doughnut]="doughnut"
          [animations]="animations"
          >
      </ngx-charts-pie-chart>
</div>