<div class="component-contatiner-col" *ngIf="!habitSelected" >
    <div class="internal-container">
    <h1>Your todays habits</h1>
    <h5>Mon</h5>
        <div class="habit-container">
            <div class="days">
                <div *ngFor="let habit of habits">
                    <div id="habit-{{habit.num}}" *ngIf="habit.frq.includes(1)" (click)="showHabit(habit)"></div> 
                </div>  
            </div>
        </div>
</div> 
</div>
<div class="component-contatiner-col" *ngIf="habitSelected">
  <div class="internal-container">
    <fa-icon class="close" (click)="closeHabit()" [icon]="faTimes"></fa-icon>
  <h1>Have you complete this</h1>
    <div class="selected-habit-container">
        <div id="habit-{{habitSelected.num}}" (click)="completeHabit()"></div>
        <div id="uncomplete-habit-{{habitSelected.num}}" (click)="ucompleteHabit()"></div>
    </div>
  </div>
  
</div>
      

 