<div class="component-contatiner-col" >
    <div class="internal-container">
        <div class="habit-container">
          <app-habit  class="animated 1 fadeIn delay{{i}}s" *ngFor="let habit of todaysHabit, let i = index" [habit]="habit" (click)="showHabit(habit)"></app-habit> 
        </div> 
    </div>
</div>
<div class="component-contatiner-col-stable" >
  <div class="internal-container-complete" *ngIf="habitSelected">
      <h1 class="habit-subtitle">Have you "{{habitSelected.Description}}" today Andrea?</h1>
        <div class="habit-container">
            <div id="habit" [ngStyle]="{'background-color': habitSelected.Color}" (click)="completeHabit(true)" ></div>
            <div id="habit" [ngStyle]="{'border-color':   habitSelected.Color}" (click)="completeHabit(false)"></div>
        </div>
</div>
    
 