<div class="component-contatiner-col" >
    <div class="internal-container">
        <div class="habit-container">
          <app-habit  class="animated 1 fadeIn delay{{i}}s" *ngFor="let habit of todaysHabit, let i = index" [habit]="habit" (click)="showHabit(habit)"></app-habit> 
        </div> 
    </div>
</div>
<h2 class="habit-subtitle" *ngIf="todaysHabit.length==0">oops! Seems like you complete all your habits for today!</h2>
<h2 class="habit-subtitle" *ngIf="todaysHabit.length==0">Come back tomorrow!</h2>
<div class="component-contatiner-col-stable" >
  <div class="internal-container-complete" *ngIf="habitSelected">
      <h1 class="habit-subtitle">Have you "{{habitSelected.Description}}" today Andrea?</h1>
        <div class="habit-container">
            <div id="habit" [ngStyle]="{'background-color': habitSelected.Color}" class="grow" (click)="completeHabit(true)" matTooltip="Yes"></div>
            <div id="habit" [ngStyle]="{'border-color':   habitSelected.Color}" class="grow" (click)="completeHabit(false)" matTooltip="No"></div>
        </div>
</div>
    
 