.grow { }
.grow:hover { transform: scale(1.1); }




#habit{
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 50%;
}

.habit-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding:20px;
  
}
.hide{
  display: none;
}

.selected-habit-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* width: 100%; */
  
}





#uncomplete-habit-one{
  border: solid 1px  #9233A3;
  width: 70px;
  height: 70px;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#habit-one{
  width: 70px;
  height: 70px;
  background-color: #9233A3;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#habit-two{
  width: 70px;
  height: 70px;
  background-color: #FF0000;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#uncomplete-habit-two{
  border: solid 1px #FF0000;
  width: 70px;
  height: 70px;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#habit-three{
  width: 70px;
  height: 70px;
  background-color: #F67400;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#uncomplete-habit-three{
  border: solid 1px #F67400;
  width: 70px;
  height: 70px;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#habit-four{
  width: 70px;
  height: 70px;
  background-color: #EAFF56;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#uncomplete-habit-four{
  border: solid 1px #EAFF56;
  width: 70px;
  height: 70px;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#habit-five{
  width: 70px;
  height: 70px;
  background-color: #00B757;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

#uncomplete-habit-five{
  border: solid 1px #00B757;
  width: 70px;
  height: 70px;
  transition: all .2s ease-in-out; 
  margin-right: 20px;
}

.habit-container > .days > div > div:hover { 
  transform: scale(1.1); 
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
}
.selected-habit-container > div:hover { 
  transform: scale(1.1); 
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
}


.close:hover{
  transform: scale(1.1); 
}
.component-contatiner-col-stable{
  height: 150px;
  width: 600px;
}

.close{
  position: relative;
  left: 45%;
  top: -15%;
  transition: all .2s ease-in-out; 
}


.component-contatiner-col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  /* height: 300px; */
  width: 600px;
  border-radius: 20px;
  margin-top: 40px;
  /* -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.05); */
  }

.internal-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  width: 90%;

}

.internal-container-complete{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}


fa-icon{
  font-size: 2em;
}

h5{
  text-align: center;
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.habit-subtitle{
  font-size: 1.5em;
}