<div class="main-content">
    <div class="sub-content">
      <div class="habit">
        <h1 class="main-title animated 1 fadeInDown">Habits</h1>
        <app-habits *ngIf="habits" (createHabit)="createHabit($event)" [habits]="habits" ></app-habits>
      </div>
      <div class="habit-pattern">
        <h1 class="main-title animated 1 fadeInDown">Habits Pattern</h1>
        <app-habits-pattern [monday]="monday" [tuesday]="tuesday" [wednesday]="wednesday" [thursday]="thursday" [friday]="friday" [saturday]="saturday" [sunday]="sunday"></app-habits-pattern>
      </div> 
    </div>
</div>
