<div class="login-page">

  <form class="login-form" [formGroup]="form"   (ngSubmit)="onSubmit(form.value)">
      <!-- [formGroup]="form" -->
    <!-- <img class="login__logo" src="https://s3-eu-west-1.amazonaws.com/elaisian-app-assets/Elaisian-Logo.svg" alt="Logo Elaisian Srl" title=""> -->
    
    <div class="aligner-center">
      <p class="login__title"> {{step.titleText}} </p>    
      <mat-form-field *ngIf="step.type==='mail'">
        <input matInput formControlName="username" name="username" type="email" email  placeholder="{{step.subText}}" required AutofocusDirective [ngClass]="{'error': step.error}">
      </mat-form-field>
      <mat-form-field  *ngIf="step.type==='psw'">
          <input matInput formControlName="password" name="password" type="password" placeholder="{{step.subText}}" required AutofocusDirective>
      </mat-form-field>
      <mat-form-field  *ngIf="step.type==='recoveryOne'">
          <input matInput formControlName="username" name="username" type="email"   placeholder="{{step.subText}}" required AutofocusDirective>
      </mat-form-field>
      <mat-form-field  *ngIf="step.type==='recoveryTwo'">
          <input matInput formControlName="code" name="code" type="text"   placeholder="{{step.subText}}" required AutofocusDirective>
      </mat-form-field>
      <mat-form-field  *ngIf="step.type==='recoveryThree'">
          <input matInput formControlName="newpassword"  name="newpassword" type="password"   placeholder="{{step.subText}}"  required AutofocusDirective>
      </mat-form-field>
      <mat-form-field  *ngIf="step.type==='recoveryThree'">
          <input matInput formControlName="confirmpassword" name="confirmpassword" type="password" *ngIf="step.type==='recoveryThree'"  placeholder="Conferma la nuova password" required>
      </mat-form-field>
    <p class="error" *ngIf="step.error">{{step.error}}</p>
    <a (click)="goRecovery()"> {{step.linkText}} </a>
    </div>



      <!-- <a (click)="goNext()"> invia codice </a> -->
      <button class="default-btn" *ngIf="step.type==='mail'" [disabled]="!form.value.username" [ngClass]="{'default-btn-disabled': !form.value.username}" (click)="goNext()" button> {{step.buttonText}} </button> 
      <button class="default-btn" *ngIf="step.type==='psw'" (click)="goToDashboard()" [disabled]="!form.value.username || !form.value.password" [ngClass]="{'default-btn-disabled': !form.value.password}" type="submit" button> {{step.buttonText}} </button>
      <button class="default-btn" *ngIf="step.type==='recoveryOne'"  [disabled]="!form.value.username" [ngClass]="{'default-btn-disabled': !form.value.username}" type="submit" (click)="goNext()" button> {{step.buttonText}} </button>
      <button class="default-btn" *ngIf="step.type==='recoveryTwo'"  [disabled]="!form.value.code" [ngClass]="{'default-btn-disabled': !form.value.code}" type="submit" (click)="goNext()" button> {{step.buttonText}} </button>
      <button class="default-btn" *ngIf="step.type==='recoveryThree'"  [disabled]="!form.value.password" [ngClass]="{'default-btn-disabled': !form.value.password}" type="submit" (click)="goNext()" button> {{step.buttonText}} </button>
   

  </form>
    <p class="copyright">&copy; Copyright Andrea Lovati. All Rights Reserved.</p>
</div>  